/* General */

html {
    font-family: Calibrie, Verdana, sans-serif;
}

body {
    height: 100%;
    padding: 0;
    width: auto;
}

/* Tables */
table {
    background: #000;
}

table, td, th {
    background: #FFF;
    border: 1px solid #000;
    border-collapse: collapse;
    /*cell-spacing: 0;
    cell-padding: 2;*/
    color: #000;
}

tr:nth-child(even) td {
    background: #ddd;
}

.none, .none td, .none th {
    border: none;
}

tr:hover td {
    background: #888;
}

/* Log boxes/text */
.inf {
    color: #008;
}

.succ {
    color: #0F0;
}

.err {
    color: #F00;
}

.quest {
    color: #00F;
}

.warn {
    color: #FC0;
}

.info {
    background-color: #00008F;
    border-color: #008;
}

.success {
    background-color: #008f00;
    border-color: #080;
}

.error {
    background-color: #8F0000;
    border-color: #800;
}

.question {
    background-color: #0000F8;
    border-color: #00F;
}

.warning {
    background-color: #FC0;
    border-color: #f8c808;
}

.block {
    background: repeat 0 center;
    border: 1px solid;
    color: #FFF;
    outline: 0;
    height: 1.1em;
    line-height: 200%;
    margin: 2px;
    min-height: 16px;
    padding: .3em 2px;
    position: relative;
    white-space: nowrap;
    width: 100%;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

/* Web styling */
.icon {
    border: none;
    height: 64px;
    margin: 2px;
    width: 64px;
}

kbd {
    background: #CCC;
    border: 3px outset #CCC;
    font-family: Consolas, Tahoma, Segoe UI, sans-serif;
    padding: 2px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 5px;
}

.title {
    text-decoration: underline;
}

h2 {
    color: #088;
}

h3 {
    color: #0FF;
}

.code-tag, .code-inst {
    color: #00F;
}

.code-cmt {
    color: #0F0;
}

.code-str, .code-id {
    color: #00c0c0;
}

.code-num, .code-class {
    color: #F00;
}

.code-attr {
    color: #c00;
}

.code-val {
    color: #FC0;
}

.code-type {
    color: #800080;
}

.code-doc, .code-op {
    color: #0FF;
}

.code-var {
    color: #0000c0;
}

.code-keyword {
    color: #f0f;
}

.nocss {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    color: inherit;
    content: normal;
    clear: none;
    float: none;
    height: auto;
    letter-spacing: normal;
    line-height: normal;
    margin: auto;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    padding: auto;
    opacity: 1;
    overflow: visible;
    page-break-inside: auto;
    position: static;
    text-align: left;
    text-shadow: none;
    text-transform: none;
    transform: none;
    transition: none;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    width: auto;
    word-spacing: normal;
    z-index: auto;
}

#console {
    background: #000;
    border: 2px solid #CCC;
    font-family: Consolas, Tahoma, Segoe UI, sans-serif;
    padding: 0;
    width: 19em;
}

#console td {
    border: none;
    margin: 0;
}

#consoleOut {
    background: #000;
    border: none;
    color: #FFF;
    display: block;
    height: 11em;
    overflow: auto;
    width: 100%;
}

#consoleIn {
    background: #000;
    border: 1px solid #FFF;
    color: #FFF;
    margin: 0;
    width: 100%;
}

#consoleTitle {
    border: none;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

/* Layout */
menu {
    text-align: center;
}

menu li {
    display: inline-block;
    cursor: pointer;
    background: #FFF;
    color: #000;
    padding: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
menu li:hover {
    background: #CCC;
}

.tabOn {
    background: #303D74;
    color: #FFF;
}

.tabOff {
    background: transparent;
    color: #000;
}

#content {
    padding-left: 40%;
}

.contentTab {
    display: none;
}

/* Responsive */
/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {

}

/* iPads (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}

/* iPads (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

}

/* Desktops and laptops */
@media only screen and (min-width : 1224px) {

}

/* Large screens */
@media only screen and (min-width : 1824px) {

}

/* iPhone 4+ */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

}